#tab-taxonomy .title-wrapper {
    display: none;
}

#id_taxonomy_json, #taxonomy-terms-json {
    display: none;
}

.term-chooser label {
    float: none !important;
    padding: 0.2em !important;
}

.term-chooser .accordion:before {
    width: 8px;
}

.global_permission, .inherit_permission, #id_permissions_json, #permission-terms-json {
    display: none;
}

#react-taxonomy-permissions {
    margin-bottom: 30px;
}